/* Footer Styling */
.footer {
    background: var(--primary-color);
    color: var(--footer-text);
    padding: 2rem 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 66.56rem;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }
  
  
  .footer-logo {
    flex: 0 1 auto;
    font-size: var(--heading-5);
    font-weight: var(--font-bold);
    color: var(--footer-text);
    
  }
  
  .footer-title {
    font-size: var(--heading-5);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
  }
  
  .footer-links a {
    display: block;
    font-size: var(--FooterLink);
    font-weight: var(--font-semibold);
    color: var(--footer-text);
    text-decoration: none;
    margin-bottom: 8px;
    padding: 8px 12px;
  }
  
  .footer-links a:hover {
    color: var(--text-color);
  }
  
  
  /* Follow Us Section */
  .social-icons {
    display: flex;
    flex-direction: column;  /* Met les icônes l'une sous l'autre */
    gap: 10px;  /* Ajoute un espace entre les icônes */
  }
  
  .social-icons button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;  /* S'assurer que chaque icône est sur sa propre ligne */
    width: 100%;  /* Pour occuper toute la largeur disponible */
  }
  
  .social-icons img {
    width: 30px;  /* Ajuste la taille des icônes */
    height: 30px;
    margin: 0 auto;  /* Centrer les icônes */
    transition: opacity 0.3s;
  }
  
  .social-icons button:hover img {
    opacity: 0.7r;
  }
  
  /* Contact Section */
  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Espace entre les lignes */
  }
  
  .contact-details button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;  /* S'assurer que chaque bouton reste dans la ligne */
  }
  
  .contact-details img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .contact-details .footer-link {
    font-size: var(--FooterLink);
    color: var(--footer-text);
    font-weight: var(--font-semibold);
    display: inline-block;  /* Met le texte sur la même ligne que l'icône */
  }
  
  .contact-details .footer-link + .footer-link {
    margin-top: 5px;  /* Ajoute un petit espacement entre les liens */
  }
  
  .footer-small {
    font-size: var(--excerpt);
    color: var(--footer-text);
    text-align: center;
    margin-top: 1rem;
  }
  
  /* Responsive Footer */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      padding: 0;
      text-align: center;
    }
  
    .footer-logo-section {
      margin-bottom: 1rem;
    }
  
    .social-icons {
      justify-content: center;
    }
  
    .contact-details {
      align-items: center;
    }
  }
  